
.vscode/launch.json
midia/recentMidiaundefined.jpeg
midia/recentMidiaundefined.jpeg
token/
/node_modules/.bin/
debug.log
*.ps1
*.js
cassiohcore/node_modules
cassiohcore/.env
cassiohcore/gpckey
cassiohcore/tokens
cassiohcore/Ignore
node_modules
tokens/
cassiohcore/index.js
cassiohcore/notindex.js
.env
/auth_info_baileys/
auth_info_baileys/
/downloads/
downloads/
cassiohcore/Commands/CommandsAssets/userUse.json
cassiohcore/Commands/CommandsAssets/downloads/*
cassiohcore/Commands/CommandsAssets/userUse.json
