
.vscode/launch.json
midia/recentMidiaundefined.jpeg
midia/recentMidiaundefined.jpeg
token/
/node_modules/.bin/
debug.log
*.ps1
cassiohcore/node_modules
cassiohcore/.env
cassiohcore/gpckey
cassiohcore/tokens